{% extends "base.html" %}

{% load static %}
{% load filters %}
{% block start %}
<title>Корзина</title>
<script src="https://ajax.OpenAIapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container card shadow-lg mt-5">
    <div class="table-header">
        <a href="{% url 'clear_cart' %}" class="btn btn-danger"><p>Очистить корзину</p></a>
        <a href="#" class="btn btn-danger">
            <div class="cart-total">
                <p>К оплате: <span >{{ total_price }}</span></p>
            </div></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Отмена покупки</th>
                <th scope="col">Дата</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Ряд</th>
                <th scope="col">Место</th>
            </tr>
        </thead>
        <tbody>
            {% for cartItem in cart_items %}
            <tr>
                <th>{{forloop.counter}}</th>
                <th><a href="{% url 'remove_cart_item' cartItem.uid %}" class="btn btn-danger">Удалить</a>


                </th>
                <th>
                    <h5>
                        {{ cartItem.showtime.date|date:"d" }} {{ cartItem.showtime.date|date:"F"|month_name }}, {{ cartItem.showtime.time|time:"H:i" }}
                    </h5>
                </th>
                <th>
                    <h5>{{cartItem.showtime.movie.movie_name}}</h5>
                </th>
                <th class="total-price" id="total_price_{{ cartItem.uid }}" data-movie-price="{{ cartItem.showtime.movie.price }}">
                    {{ cartItem.showtime.movie.price }}
                </th>
                <th>
                    {{cartItem.seat.row}}
                </th>
                <th>
                    {{cartItem.seat.number}}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if cart_items.has_other_pages %}
            <ul class="pagination">
                {% if cart_items.has_previous %}
                    <li><a href="?page={{ cart_items.previous_page_number }}">&laquo; Предыдущая</a></li>
                {% endif %}
                {% for num in cart_items.paginator.page_range %}
                    {% if cart_items.number == num %}
                        <li class="active"><span>{{ num }}</span></li>
                    {% elif num > cart_items.number|add:'-3' and num < cart_items.number|add:'3' %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if cart_items.has_next %}
                    <li><a href="?page={{ cart_items.next_page_number }}">Следующая &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
</div>
</div>
{% endblock %}