{% extends "base.html" %}
{% load static %}

{% block start %}
<title>Главная</title>
<style> .bold{ margin-left: 57px; }</style>

<div class="container mt-5 pt-3">
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-3">
                <div class="card">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'movie_page' movie.uid %}"><img src="{{ movie.images.url }}" style="width: 286px; height: 210px; border-radius: 15px;" alt="Картинка фильма"></a>
                    {% else %}
                        <a href="{% url 'login' %}"><img src="{{ movie.images.url }}" style="width: 286px; height: 210px; border-radius: 15px;" alt="Картинка фильма"></a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase">
                            <strong style="font-size: 28px;">{{movie.movie_name}}</strong></h5>
                        <p class="bold"> <b>Цена -</b>  {{movie.price}} р.<br> <strong>Категория</strong> - {{movie.category.category_name}}</p>
                    </div>
                </div>
                <br>
            </div>
            <br>
        {% endfor %}
    </div>
</div>

<script>
  const addToCartButton = document.querySelector('.btn-warning');

  addToCartButton.addEventListener('click', (event) => {
    event.preventDefault();

    const isAuthenticated = '{% if user.is_authenticated %}'true'{% else %}'false'{% endif %}';

    if (isAuthenticated === 'false') {
      window.location.href = '{% url 'login' %}';
    } else {
      event.target.closest('form').submit();
    }
  });
</script>
{% endblock %}