{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block start %}
<style>
    h2 {
       padding: 0;
       margin:0;
       text-align: start;
       color: white;
       weight: 400;
    }
</style>
<title>{{ movie.movie_name }}</title>
<div class="show-time">
    <img src="{{ movie.images.url }}" alt="Картинка фильма">

    <div class="show-time-children">
            <div class="show-time-block">
                <p>{{ movie.country }}</p>
                <p>{{ movie.category }}</p>
                <p>{{ movie.duration }}</p>
            </div>
            <h2>{{ movie.movie_name }}</h2>
            <p>{{ movie.description }}</p>

        <h2>Выберите дату:</h2>
        <ul>
            {% for date in unique_dates %}
                <li class="btn-warning">
                    <a href="{% url 'show_time' date %}">
                        {{ date|date:"d" }} {{ date|date:"F"|month_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}